* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body_background: #0b0c13;
  --body_color: #eee;
  --button_background: #444;
  --button_color: #fff;
  --button_background_hoover: #666;
}
body {
  background-color: var(--body_background);
  color: var(--body_color);
  font-family: sans-serif;
  text-align: center;

  .navi {
    display: flex;
    align-items: center;
    justify-content: center; /* zentriert standardmäßig alles */
    position: relative; /* erlaubt absolute Positionierung */

    .counter {
      position: absolute;
      left: 16px;
      /*font-weight: bold; */
    }

    .button-container {
      display: flex;
      gap: 1rem;

      .knopp {
        align-items: center;
        background: var(--button_background);
        color: var(--button_color);
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 10px;
      }
      .knopp:hover {
        background: var(--button_background_hoover);
      }
    }
  }
}
